/* @font-face {
  font-family: 'Space Mono';
  src: url('./fonts/SpaceMono-Regular.ttf') format('ttf');
}

@font-face {
  font-family: "Space Mono";
  src: url('./fonts/SpaceMono-Bold.ttf') format('ttf');
} */



@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body {
	font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
ul {

list-style: none;
}
input {
  font-family: 'Space Mono', monospace;
  color:hsl(183, 100%, 15%);
  font-weight: 700;
  outline: none;
}
input:focus {
box-shadow: 0 0 0 2pt hsl(172, 67%, 45%);
}
